.paginate_wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  align-items: center;
  flex-wrap: wrap;
}

.paginatContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  align-items: center;
  font-size: 14px;
}

.pageStyle {
  background: var(--second-bg);
  color: var(--main-color);
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
}

.activePage {
  background: var(--main-color);
  color: var(--txt-white);
}

.disabledLink {
  color: #fb0b12;
  cursor: not-allowed;
}

.previousPage,
.nextPage {
  background: var(--second-bg);
  color: var(--main-color);
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
}

.hide_perPage {
  display: none;
}

.show_perPage {
  display: block;
  font-size: 14px;
}
