.layout{
    color: var(--txt-color);
}
.layout_content{
    display: flex;
    background: var(--second-bg);
}
.layout_content_main{
    margin-top: 48px;
    padding: 10px;
    transition : all 0.5s var(--transition-cubic);
    width : 100%;
}
.expand_layout{
    margin-left: 200px;
}

.reduce_layout{
    margin-left: 55px;
}

@media screen and (max-width : 930px){
    .expand_layout{
        margin-left: 0;
    }
    .reduce_layout{
        margin-left: 0;
    }
}