.category_products {
  width: 100%;
  text-align: center;
}
.category_heading {
  border-bottom: 2px solid var(--second-color);
  margin: 15px 0 10px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  width: 260px;
  height: 260px;
  background: var(--main-bg);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.card_img_div {
  width: 100%;
  height: 160px;
}

.card_img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.cards_btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.product_btn {
  color: var(--main-color);
  background: transparent;
  text-decoration: none;
  font-size: 15px;
}

.edit_btn {
  color: var(--main-color);
  background: transparent;
  text-decoration: none;
  font-size: 15px;
  margin-top: 10px;
}

.delete_btn {
  background-color: var(--second-color-red);
  color: var(--text-white);
}
.edit_btn:hover,
.product_btn:hover {
  background-color: var(--second-color);
}
.label {
  font-size: medium;
  font-weight: 500;
}
.input_field {
  border: none;
  outline: none;
  background: var(--second-bg);
  width: 300px;
  height: 40px;
  caret-color: var(--second-color);
  color: var(--second-color);
  margin-left: 10px;
  padding: 0% 10px;
  font-size: 16px;
  box-shadow: var(--box-shadow);
}

.input_field::placeholder {
  color: var(--second-color);
}

.input_field:focus-visible {
  border-bottom: 1px solid var(--main-color);
}

.categories_table_wrapper {
  overflow: auto;
}
